<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926184968358-h8u7pc2lq2f645l7765jj7skeuvegkkn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926184968358-h8u7pc2lq2f645l7765jj7skeuvegkkn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>926184968358-l3dvis72vgsdqt9qm5p41nsag50fu8vf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_IQueIyTTw10Ms43GbUwljQtCAjo9TnU</string>
	<key>GCM_SENDER_ID</key>
	<string>926184968358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doIt</string>
	<key>PROJECT_ID</key>
	<string>do-it-login</string>
	<key>STORAGE_BUCKET</key>
	<string>do-it-login.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926184968358:ios:59dfb725a21b0a95a86467</string>
</dict>
</plist>